<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_projet_dam"
        tools:targetApi="31">
        <activity
            android:name=".DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- About Activity -->
        <activity
            android:name=".About"
            android:exported="false" /> <!-- Students Activity -->
        <activity
            android:name=".Students"
            android:exported="false" />
        <activity
            android:name=".HotelsActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".TouristSitesActivity"
            android:exported="false" />
        <activity
            android:name=".TransportationActivity"
            android:exported="false" />
        <activity
            android:name=".TouristListActivity"
            android:exported="false" />
        <activity
            android:name=".Bridge"
            android:exported="false" />
        <activity
            android:name=".Historical"
            android:exported="false" />
        <activity
            android:name=".Museum"
            android:exported="false" />
        <activity
            android:name=".Nature"
            android:exported="false" />
        <activity
            android:name=".Disc"
            android:exported="false" />
    </application>

</manifest>